<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css" />

    <title>Personel Listesi</title>
</head>

<body>
    <h3 style="letter-spacing: 2px; text-align:center; color: #c28efa" class="mt-5">PERSONEL LİSTESİ</h3>
    <div>



        <div class="container">

            <div class="row">
                {{#each rows}}
                    <div class="card-center col-sm-3">
                        <div class="mx-auto mb-5 mt-3">
                            <div class="card text-center">
                                <div style="background-color: #E9D4FF;" class="card-header">
                                    <h4>{{this.adi}}
                                        {{this.soyadi}}</h4>
                                </div>
                                <img class="card-img-top mx-auto" style="width:250px ; height:250px ;" src="{{this.url}}" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Yaşı | {{this.yas}} <br> Ünvanı | {{this.unvan}} <br>
                                        Departmanı |
                                        {{this.departman}} </h6>
                                    <p class="card-text"><b>{{this.eposta}}</b></p>
                                    <p class="card-text">{{this.aciklama}}</p>
                                </div>

                                <div style="background-color: #E9D4FF;" class="card-footer text-muted">
                                    <button class="btn btn-light as" type=""><a class="text-decoration-none"
                                            href="/users/{{this.id}}">Düzenle</a></button>
                                    <button class="btn btn-light as "><a class="text-decoration-none"
                                            href="/users/delete/{{this.id}}">Sil</a></button>
                                </div>


                            </div>
                        </div>
                    </div>
                {{/each}}

            </div>
        </div>

    </div>

    </div>

</body>

</html>